<nav class="{{tools.themeColor}} {{tools.fontSize}}">
    <span class="text">
        <img src="img/dogecoin-min.svg"
        (click)="enableDevOption()"
        class="icon">
        @if (tools.actPage === "game") {
            <span class="{{tools.fontSize}}">0</span>
        }
    </span>
    <span class="preventive text color-text {{tools.themeColor}} {{tools.fontSize}}">{{tools.pageName[tools.lang][tools.actPage]}}</span>
    <span class="text" (click)="tools.redirectBack()">
        @if (tools.actPage !== "game") {
            <img src="img/icons/front-page-svgrepo-com.svg" class="icon">
        } @else {
            <img src="img/icons/menu-svgrepo-com.svg" class="icon">
        }
    </span>
</nav>
@if (tools.actPage === "game") {
    <div class="upper-container {{tools.themeColor}} {{tools.fontSize}}" id="upper-container">
        <span>{{tools.game[tools.lang].navbar.highScore}}:<br>{{tools.highScore}}</span>
        <span>{{tools.game[tools.lang].navbar.totalScore}}:<br>{{tools.totalScore}}</span>
        <span>{{tools.game[tools.lang].navbar.actScore}}:<br>{{tools.actScore}}</span>
    </div>
}