<div class="container">
    <div class="group {{tools.themeColor}} licenses-box">
        <h2 class="licenses-title">{{tools.pageName[tools.lang]?.licenses || 'Licenses'}}</h2>
        
        <div class="licenses-content">
            <h3>SVG & Icons</h3>
            <ul>
                <li><strong>CC0 License:</strong> <a href="https://www.svgrepo.com/page/licensing/#CC0" target="_blank">SVG Repo Licensing</a></li>
                <li><strong>Page:</strong> <a href="https://www.svgrepo.com/" target="_blank">SVG Repo</a></li>
                <li><strong>Solar Bold Icons:</strong> <a href="https://www.svgrepo.com/collection/solar-bold-icons/" target="_blank">Collection</a></li>
                <li><strong>Isometric 3D Interface Icons:</strong> <a href="https://www.svgrepo.com/collection/isometric-3d-interface-icons/" target="_blank">Collection</a></li>
                <li><strong>Snake Assets:</strong> <a href="https://cosme.itch.io/snake" target="_blank">Snake Game Assets</a></li>
                <li><strong>Board game assets:</strong> <a href="https://opengameart.org/" target="_blank">OpenGameArt.Org</a></li>
            </ul>

            <h3>Music</h3>
            <ul>
                <li><strong><a href="https://soundcloud.com/relaxing-music-production/sugar6borg-dust-ft-raphael-novarina?si=dcf18380d94e4f029906b5ab13f212c9&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank">Minimalism N. 9, Notre envol - Raphaël Novarina [Piano]</a></strong></li>
                <li><strong><a href="https://soundcloud.com/dj-noah-6/jack-bootleg-free-download?si=0ea8c3007d314b6aba92cb5a5dc9fc73&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank">Jack Bootleg</a></strong></li>
                <li><strong><a href="https://soundcloud.com/relaxing-music-production/chillout-piano-lounge-calming-music?si=698f869d606546518e751a83447600a3&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank">Minimalism N. 10, Notre envol II - Raphaël Novarina [Piano]</a></strong></li>
                <li><strong><a href="https://pixabay.com/es/music/jazz-moderno-a-jazz-piano-110481/" target="_blank">A Jazz Piano</a></strong> Music by <a href="https://pixabay.com/es/users/music_for_videos-26992513/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=110481" target="_blank">Oleg Kyrylkovv</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=110481" target="_blank">Pixabay</a></li>
                <li><strong><a href="https://pixabay.com/es/music/jazz-moderno-when-you-smile-151423/" target="_blank">When you smile</a></strong> Music by <a href="https://pixabay.com/es/users/lexin_music-28841948/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=151423" target="_blank">Aleksey Chistilin</a> from <a href="https://pixabay.com/music//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=151423" target="_blank">Pixabay</a></li>
                <li><strong><a href="https://pixabay.com/es/music/jazz-tradicional-magic-night-134393/" target="_blank">Magic Night</a></strong> Music by <a href="https://pixabay.com/es/users/keyframe_audio-32058364/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=134393" target="_blank">Keyframe Audio</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=134393" target="_blank">Pixabay</a></li>
                <li><strong><a href="https://pixabay.com/es/music/futuro-bajo-titanium-170190/" target="_blank">Titanium</a></strong> Music by <a href="https://pixabay.com/es/users/alisiabeats-39461785/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=170190" target="_blank">Alisia</a> from <a href="https://pixabay.com/music//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=170190" target="_blank">Pixabay</a></li>
                <li><strong><a href="https://pixabay.com/es/music/late-coffee-shop-189585/" target="_blank">Coffe Shop</a></strong> Music by <a href="https://pixabay.com/es/users/cryptologymedia-37604736/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=189585" target="_blank">Barnabas</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=189585" target="_blank">Pixabay</a></li>
                <li><strong><a href="https://pixabay.com/es/music/cafeter%C3%ADa-believe-me-143530/" target="_blank">Believe me</a></strong> Music by <a href="https://pixabay.com/es/users/monument_music-34040748/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=143530" target="_blank">Oleksii Holubiev</a> from <a href="https://pixabay.com/music//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=143530" target="_blank">Pixabay</a></li>
                <li><strong><a href="https://pixabay.com/es/music/late-city-streets-background-version-166003/" target="_blank">City Streets (Background version)</a></strong> Music by <a href="https://pixabay.com/es/users/howling_hound_music-39347795/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=166003" target="_blank">Nathaniel</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=166003" target="_blank">Pixabay</a></li>
                <li><strong><a href="https://pixabay.com/es/music/futuro-bajo-trap-future-bass-royalty-free-music-167020/" target="_blank">Trap Future bass (Royalty free music)</a></strong> Music by <a href="https://pixabay.com/es/users/royaltyfreemusic-29393722/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=167020" target="_blank">Nver Avetyan</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=167020" target="_blank">Pixabay</a></li>
                <li><strong><a href="https://pixabay.com/es/music/electro-electro-summer-positive-party-141081/" target="_blank">Electro summer positive party</a></strong> Music by <a href="https://pixabay.com/es/users/alex_kizenkov-33612407/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=141081" target="_blank">Alex_Kizenkov</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=141081" target="_blank">Pixabay</a></li>
                <li><strong><a href="https://soundcloud.com/joeyillah/tetris-joey-illah-bootleg-1?si=d58f385c9db242479b066090d6536864&utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing" target="_blank">TETRIS (Joey iLLah Bootleg) FREE DOWNLOAD</a></strong></li>
            </ul>
            <h3>AI Generated Music</h3>
            <ul>
                <li><strong>Bonk The Amber</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Bonk The Avatar</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Bonus Level Bounce</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Button Smash Routine</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Cheems Chan Bonk</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Click For A Bonk</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Hardwood Strike</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Perfect Round</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Pocket Change Victory</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Quick Loot Run</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Target In The Sight</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>The Hammer Falls</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>The Late Commute</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>The Unwritten Page</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
                <li><strong>Where The Path Bends</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedSong}}</li>
            </ul>
            <h3>AI Generated Images</h3>
            <ul>
                <li><strong>Cheems Minecraft</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedImage}}</li>
                <li><strong>Cheems not a dog</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedImage}}</li>
                <li><strong>Cheems not a plumber</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedImage}}</li>
                <li><strong>Cheems not ai</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedImage}}</li>
                <li><strong>Cheems realistic</strong> - {{tools.licensesPage[tools.lang]?.aiGeneratedImage}}</li>
            </ul>
        </div>
    </div>
</div>
